@font-face {
    font-family: "PT Sans Caption";
    font-style: normal;
    font-weight: 700;
    src: local("PT Sans Caption Bold"), local("PTSans-CaptionBold"), url("http://fonts.gstatic.com/s/ptsanscaption/v9/Q-gJrFokeE7JydPpxASt29RYZ4-1s-3wi7mHpVwon4Y.woff") format("woff");
}

html, body {
    height: 100%;
    width: 100%;
    font-family: Verdana, sans-serif;
}
h2 {
    font-family: "PT Sans Caption", Verdana, sans-serif;
    font-size: 18px;
    text-transform: uppercase;;
}

body {
    margin: 0;
    padding: 0;
    text-align: center;
}

#main_container {
    margin: 0 auto;
    text-align: left;
    width: 900px;
}

svg {
    border: 1px solid #aeaeae;
    display: block;

    margin: 20px auto;
    font-size: 10px;
}

.axis path,
.axis line {
    fill: none;
    stroke: #000;
    shape-rendering: crispEdges;
}

.axis path {
    display: none;
}

.axis .minor line {
    stroke: #777;
    stroke-dasharray: 2,2;
}

/*.income:hover {*/
    /*fill: steelblue;*/
/*}*/

/*.outcome:hover {*/
    /*fill: red;*/
/*}*/

.d3-tip {
    font-size: 11px;
    text-align: start;
}

/* Creates a small triangle extender for the tooltip */
.d3-tip:after {
    box-sizing: border-box;
    display: inline;
    font-size: 10px;
    width: 100%;
    line-height: 1;
    color: rgba(0, 0, 0, 0.8);
    content: "\25BC";
    position: absolute;
    text-align: center;
}


/*{*/
    /*color: */
/*}*/

/* Style northward tooltips differently */
.d3-tip.n:after {
    margin: -1px 0 0 0;
    top: 100%;
    left: 0;
}

.center {
    margin: 0 auto;
    text-align: center;
}
